.mainSection 
{
    border: 2px solid tomato;
}

.singleProduct
{
    border: 2px solid slateblue;
    border-radius: 25px;
    margin: 20px 15px;
    padding: 10px;
}

.lightBlueBg
{
    /* background-color: rgba(92, 160, 237); */
}


.paginationSection 
{
    display: flex;
    justify-content: center;
}


.toastMsg 
{
    background-color: rgba(216, 33, 33, 0.795);
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
}